html{
	background-color: #28282828;
	/*background: linear-gradient(20deg, #0000, #4444);*/
	height: 100%;
	backdrop-filter: blur(28px);
	color: #eee;
}

.file{
	/*border: 2px solid #ccc3;*/
	margin-bottom: 0.3rem;
	padding: 0.4rem;
	transition-duration: 180ms;
	border-radius: 0.2rem;
	border: 1px solid #0000;
}

.file:hover{
	background-color: #8884;
	transition-duration: 80ms;
	border: 1px solid #ededed88;
}