:root {
    --window-border-radius: 13px;
    /*--window-border: 2px solid #222;*/
    --window-border: none;
    --iframe-pointer-event: auto;
    --startbar-height: 2.7rem;
    --app-preview-size: 9rem;
    --app-previews-panel-padding: 1rem;
    --app-previews-panel-scrollbar-size: 15px;
    --app-previews-panel-side-padding: 0.5rem;
    --app-bar-icon-margin: 0.2rem;
    --start-bar-scroller-height: 8px;
    --top-bar-thickness:  2rem;
    --window-main-button-ratio: 1;
    --window-icon-ratio: 0.6;
    

    --start-bar-z-index: 4000000;
}