#startButton {
	/*position: absolute;*/
	background: none;
	border: none;
	bottom: 0;
	left: 0;
	/* margin-top: calc(var(--startbar-height) * 0.1);
	height: calc(var(--startbar-height) * 0.8);
	margin-left: calc(var(--startbar-height) * 0.1);
	width: calc(var(--startbar-height) * 1.5);*/
	height: var(--startbar-height);
	width: calc(var(--startbar-height) * 1.5);
	color: #eee;
	transform: scale(0.8);
	border-radius: 0.7rem;
	border: 2px solid #eee;
	transition-duration: 200ms;
}

#appsBarCenterer {
	padding-right: calc(var(--startbar-height) * 2);
}

#startButton:hover {
	color: #222;
	background: #ddd;
}
#startButton:active {
	transition-duration: 60ms;
	transform: scale(0.8);
	/* border-radius: 0; */
	width: calc(var(--startbar-height) * 2.5);
}


#startButton:focus {
	box-shadow: -5px 0 15px 0 hsl(178, 100%, 50%) ,
		5px 0 15px 0 hsl(307, 50%, 50%) ;
}

/*#startButton:active{*/
/*transition-duration: 60ms;*/
/*border-radius: 0.4rem;*/
/*transform: scale(0.88);*/
/*}*/
