.windowTopBar{
    height: var(--topBarThickness);
    background-color: #f56d;
    padding: 3px;
    display: flex;
    flex-direction: row;
    border-radius: var(--window-border) var(--window-border) 0 0;
}

.windowTopBarLeft{
    background-color: #adff2f22;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}
.windowTopBarRight{
    flex-grow: 1;
    background-color: #daa52022;
    display: flex;
    justify-content: flex-end;
}

.windowAppIcon{
    background-color: #4b008222;
}

.windowTopTitleBar{
    background-color: #5552;
}
