.window{
    border: 2px solid #222;
    border-radius: var(--window-border-radius);
    position: absolute;
    left: var(--x);
    top: var(--y);
    /* we use native html resize */
    /* width: var(--sx); */
    /* height: var(--sy); */
    /* for resize, we need to specify overflow */
    /* overflow: scroll; */
    overflow: hidden;
    resize: both;

    display: flex;
    flex-direction: column;
}


.windowContent{
    /*background-color: #53f2;*/
    min-height: 0;
    
    flex: 1;
    display: flex;
}

.windowPage{
    /*overflow: scroll;*/
    width: 100%;

    pointer-events: var(--iframe-pointer-event);

    /* width: 100%; */
    /* height: 100%; */

    
    
    /* background-color: red; */
    /* height: inherit; */
    /* background-color: red; */
}